@{
    ViewBag.Title = "Contact Book";
}

<div class="jumbotron">
    <h2>This contact book description</h2>
</div>

<h4>Time is now: @DateTime.Now.ToShortTimeString()</h4>
<br />
<h4>The contact book stores phone numbers, first names, last names, mail and any other data about your customers. It is possible to add a photo to each contact.</h4>
<h4>In order to view the page with contacts you need to register or log into an existing account. If you have administrator rights, then you can edit all contacts.</h4>
<br />
<img src="~/CBicon.png" />
